<div class="row">

  <div class="col-3 ml-3">
    <% if customer_signed_in? %>
      <%= render "public/customers/side-info-post", post: @post, favorites_count: @favorites_count %>
    <% end %>
  </div>

  <div class="col-8">
    <h5>いいねした投稿</h5>
      <%= render "public/posts/index", posts: @favorite_posts %>
  </div>
</div>
