<div class="row">
  <div class="col-3">
    <!--サイドバーテンプレ-->
    <!--アイコン、ユーザー名、フォロー数、フォロワー数、いいね一覧、ユーザー情報編集-->
    <table>
      <tr><%= image_tag @customer.get_profile_image, size:'100x100' %></tr>
      <tr>
        <th>ユーザー：</th>
        <th><%= @customer.nickname %></th>
      </tr>
      <% if @customer.customer == current_customer %>
      <tr>
        <th></th>
      </tr>
      <% end %>
    </table>
  </div>

  <div class='col-md-8 offset-md-1'>
    <!--spotのindexてんぷれ？-->
  </div>

</div>