<div class="row">

  <div class="col-3 ml-3">
    <% if customer_signed_in? %>
      <%= render "public/customers/side-info-post", post: @post, current_customer: @customer %>
    <% end %>
  </div>

  <div class="col-8">
    <h5><%= @customer.nickname %> さんの投稿</h5>
      <div class="col-8">
        <%= render "public/posts/index", posts: @posts %>
  </div>
  </div>

</div>
