<%= link_to new_post_path do %>
  <span class="fa-stack fa-lg offset-10">
    <i class="fas fa-circle fa-stack-2x", style="color: #4682b4"></i>
    <i class="far fa-regular fa-pen-to-square fa-stack-1x", style="color: #fff"></i>
  </span>
<% end %>
