<div class="row">

  <div class="col-3 ml-3">
    <% if customer_signed_in? %>
      <%= render "public/customers/side-info-post", post: @post %>
    <% end %>
  </div>

  <div class="col-8">
    <h5>"<%= @word %>"の検索結果</h5>
      <!--検索対象スポット-->
      <% if @range == "スポット" %>
        <%= render "public/posts/index", posts: @posts %>
      <% else %>
        <%= render "public/customers/index", customers: @customers %>
      <% end %>
  </div>

</div>
