<div class="container">
  <div class="row">

    <div class="col">
      <h5>"<%= @word %>"の検索結果</h5>
      <!--検索対象スポット-->
      <% if @range == "スポット" %>
        <% if @posts.exists? %>
          <%= render "public/posts/index", posts: @posts %>
        <% else %>
          <p>一致する結果はありません</p>
        <% end %>
      <!--検索対象ユーザー-->
      <% else %>
        <% if @customers.exists? %>
          <%= render "public/customers/index", customers: @customers %>
        <% else %>
          <p>一致する結果はありません</p>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
