<div class="row">

  <div class="col-9">
    <!--地図-->
    <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
    <div id="display"></div>
    <div id='map' style="height: 600px; width: 100%;"></div>
  </div>
</div>
　<script>
　  let map
　  let marker
　　const display = document.getElementById('display')

    function initMap(){
      geocoder = new google.maps.Geocoder()
      map = new google.maps.Map(document.getElementById('map'), {
        // デフォルト表示？
        center: {lat: 35.8716, lng:139.9249},
        zoom: 16,
      });
    }

    let geocoder
    let aft
    // 検索ボタン押されたら実行
    function codeAddress(){
      // 入力取得
      let inputAddress = document.getElementById('address').value;
      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        // 検索ヒット時、緯度経度更新
        if (status == 'OK') {
          // マーカー複数出ないように
          if (aft == true){
            maker.setMap(map);
          }
          // 新しくマーカー作成
          map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
            // ドラッグ可能にする
            // draggable: true
          });
          //二度目以降か判断
          aft = true
          //検索した時に緯度経度を入力する
          document.getElementById('latitude').value = results[0].geometry.location.lat();
          document.getElementById('longitude').value = results[0].geometry.location.lng();
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('latitude').value = ev.latLng.lat();
            document.getElementById('longitude').value = ev.latLng.lng();
          });
          display.textContent = "検索結果：" + results[ 0 ].geometry.location
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }

  </script>
　<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
