<!--<div class="container">-->
<!--  <div class="row">-->

    <div class="col-3">
      <!--サイドバー-->
      <div class="sidebar">
        <!--eachで出す-->
        <table>
          <tbody>
            <tr>
              <td>ユーザーネーム<br>contentscontents</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <!--地図-->
    </div>

<!--  </div>-->
<!--</div>-->
